.introduction {
  &--logo {
    margin-top: 20px;
    width: 800px;
  }

  &--wrapper {
    margin-top: 30px;
  }

  &--body {
    width: 800px;
  }

  &--title {
    margin-bottom: 10px;
  }

  &--bullet {
    width: fit-content;
  }
}
.MuiCardMedia-img {
  object-fit: fill;
}
