.window {
  &--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -100px;
  }

  &--display {
    width: 250px;
    background-color: #f8f8ff;
  }

  &--menuItem {
    display: flex;
    margin-bottom: 15px;
  }
}

.button-visibility--off {
  position: relative;
  bottom: 11px;
  left: 10px;
  .MuiIconButton-root {
    color: #cb2d39;
  }
}

.button-visibility--on {
  position: relative;
  bottom: 11px;
  left: 10px;
  .MuiIconButton-root {
    color: #004d00;
  }
}

.bold-text {
  font-weight: bold;
  margin-left: 7px;
}
