.sulfide-labels {
  font-size: 0.75rem;
  &--pos {
    font-size: 0.5rem;
  }
}

.glyco-labels {
  font-size: 0.75rem;
  &--pos {
    font-size: 0.5rem;
  }
}

.windowSvg--wrapper {
  position: relative;
  top: -200px;
  z-index: -1000;
}
