.legend {
  &--wrapper {
    position: fixed;
    top: 100px;
    left: 30px;
    width: 280px;
    background-color: #f8f8ff;
  }

  &--menuItem {
    display: flex;
  }

  &--header {
    width: max-content;
    margin-bottom: 20px;
  }
}

.button-visibility--off {
  position: relative;
  bottom: 11px;
  left: 10px;
  .MuiIconButton-root {
    color: #cb2d39;
  }
}

.button-visibility--on {
  position: relative;
  bottom: 11px;
  left: 10px;
  .MuiIconButton-root {
    color: #004d00;
  }
}

.bold-text {
  font-weight: bold;
  margin-left: 7px;
}
